
.Hero_heroContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 818px;
    width: 100vw;
    /* background-image: url(../assets/hero-bg-wave\ 1.e3008e7a.svg);    */
    background-color: #4C0033;
     background-position: 50%;
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 20px;
   
}

.Hero_heroContent h1{
    font-size: 2.625rem;
    line-height: 1.2;
    max-width: 880px;
    margin: 0 auto;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    word-wrap: normal;
    color: #ffffff;
    font-weight: bold;
    padding-bottom: 170px;



   
}


.Hero_heroContent p{
    /* font-weight: 500; */
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 1px;
    font-style: normal;
    text-align: center;
    color: #fff;
    /* padding-bottom: -170px; */

   
}


.Hero_heroContent div a{ 
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 1px solid #fff;
    box-sizing: border-box;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    width: 215px;
    height: 56px;
    box-shadow: 0 2px 20px rgb(0 0 0 / 9%);
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.Hero_heroContent>div>a:first-of-type {
    background: #fff;
    border-radius: 6px;
    color: #645aff;
}
